@import 'src/Theme/variables';

.control {
  position: relative;
  right: 0;
  & + div {
    margin-top: 5px;
    // @media (max-width: 600px) {
    //   margin-top: 5px;
    // }
  }
  width: max-content;
  .toolTipText {
    top: 0.125em;
  }

  button:hover {
    .toolTipText {
      visibility: visible;
    }
  }
}

.control.withBadge {
  margin-bottom: 10px;
  @media (max-width: 600px) {
    margin-bottom: 20px;
  }
}

.toolTipText {
  position: absolute;
  height: 25px;
  right: 35px;
  box-sizing: border-box;
  padding: 2px 5px 2px;
  border-radius: 5px;
  visibility: hidden;
  width: max-content;
  max-width: 200px;
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px solid rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 10px;
  direction: ltr;
  text-align: center;
  font-size: 12px;
  color: #000;
  font-weight: normal;
}

.badgeTooltip {
  position: absolute;
  top: 0px;
  right: 25px;
  visibility: hidden;
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px solid rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  box-sizing: border-box;
  width: max-content;
  height: 100%;
  padding: 2px 5px 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  line-height: 12px;
  max-width: 200px;
}

.badgeButton {
  background-color: #fff;
  position: absolute;
  bottom: -8px;
  right: -5px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  svg,
  span {
    display: inline-block;
  }
  transition: all 200ms ease-in-out;
  cursor: pointer;

  @media (max-width: 600px) {
    width: 23px;
    height: 23px;
    bottom: -15px;
  }

  &:hover {
    .badgeTooltip {
      visibility: visible;
    }
  }
}

.control.styled {
  &,
  &:hover,
  &:active,
  button,
  button:hover,
  button:active {
    background-color: transparent;
    padding: 0px;
  }
  font-size: 12px;

  button {
    width: auto;
    height: auto;
    font-size: 11px;
  }

  .buttonContent {
    min-width: 30px;
    max-width: 30px;
    width: 100%;
    height: 30px;
    border-radius: 15px;
    transition: all 200ms ease-in-out;
    direction: ltr;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    overflow: hidden;
  }

  .activeLabel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 2px 5px 2px;
    color: #000;
    opacity: 0;
    transition: all 200ms ease-in-out;
    font-size: 10px;
    line-height: 10px;
  }

  .activeLabelTitle {
    font-weight: bold;
  }

  .activeLabelText {
    font-weight: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
  }

  .toolTipText {
    top: 2.5px;
  }

  .IconDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-basis: 30px;
    min-width: 30px;

    svg {
      display: inline-block;
    }
  }

  &.active {
    .buttonContent {
      background-color: $controlActiveColor !important;
      max-width: 200px;
    }
    .activeLabel {
      opacity: 1;
    }
    .IconDiv > svg {
      color: #000 !important;
    }
  }
}
