@import 'src/Theme/variables';

.control {
  position: relative;
  right: 0;
  & + div {
    margin-top: 8px;
    @media (max-width: 600px) {
      margin-top: 8px;
    }
  }
  width: max-content;
  .toolTipText {
    top: 0.125em;
  }

  &:hover {
    .toolTipText {
      visibility: visible;
    }
  }
}

.control.controlWithBadge {
  margin-bottom: 10px;
  @media (max-width: 600px) {
    margin-bottom: 20px;
  }
}

.toolTipText {
  position: absolute;
  height: 25px;
  right: 35px;
  box-sizing: border-box;
  padding: 2px 5px 2px;
  border-radius: 5px;
  visibility: hidden;
  width: max-content;
  max-width: 200px;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 10px;
  direction: ltr;
  text-align: center;
}

.badgeButton {
  background-color: #fff;
  position: absolute;
  bottom: -8px;
  right: -5px;
  width: 18px;
  height: 18px;
  overflow: hidden;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  svg,
  span {
    display: inline-block;
  }
  transition: all 200ms ease-in-out;
  cursor: pointer;

  @media (max-width: 600px) {
    width: 23px;
    height: 23px;
    bottom: -15px;
  }
}

.control.styled {
  &,
  &:hover,
  &:active,
  button,
  button:hover,
  button:active {
    background-color: transparent;
    padding: 0px;
  }
  font-size: 12px;

  button {
    width: auto;
    height: auto;
    font-size: 11px;
  }

  .buttonContent {
    min-width: 30px;
    max-width: 30px;
    width: 100%;
    height: 30px;
    border-radius: 15px;
    transition: all 200ms ease-in-out;
    direction: ltr;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    overflow: hidden;
  }

  .activeLabel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 2px 5px 2px;
    color: #000;
    opacity: 0;
    transition: all 200ms ease-in-out;
    font-size: 10px;
    line-height: 10px;
  }

  .activeLabelTitle {
    font-weight: bold;
  }

  .activeLabelText {
    font-weight: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
  }

  .toolTipText {
    top: 2.5px;
  }

  .IconDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-basis: 30px;
    min-width: 30px;

    svg {
      display: inline-block;
    }
  }

  &:hover {
    .toolTipText {
      visibility: visible;
    }
  }

  &.active {
    .buttonContent {
      background-color: $controlActiveColor !important;
      max-width: 200px;
    }
    .activeLabel {
      opacity: 1;
    }
    .IconDiv > svg {
      color: #000 !important;
    }
  }
}

// .hoverTooltip {
//   position: absolute;
//   box-sizing: border-box;
//   visibility: hidden;
//   font-size: 11px;
//   color: #000;
//   background-color: rgba(255, 255, 255, 0.8);
//   top: 2.5px;
//   right: 35px;
//   height: 25px;
//   max-width: 200px;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   width: max-content;
//   border-radius: 5px;
//   padding: 0px 5px 0px;
//   line-height: 12px;
//   font-weight: bold;
// }

// .controlButton.styled {
//   min-width: 30px;
//   height: 30px;
//   border-radius: 15px;
//   button,
//   button:hover,
//   button:active {
//     background-color: transparent !important;
//   }

//   &:hover {
//     .hoverTooltip {
//       visibility: visible;
//     }
//   }

//   &.active {
//     .content {
//       background-color: $controlActiveColor !important;
//       max-width: 200px;
//       justify-content: flex-end;
//     }
//     .activeLabel {
//       max-width: 200px;
//       padding: 2px 10px 2px;
//       opacity: 1;
//     }
//   }

//   .content {
//     position: absolute;
//     top: 0;
//     min-width: 30px;
//     max-width: 30px;
//     height: 30px;
//     border-radius: 15px;
//     width: max-content;
//     display: flex;
//     flex-direction: row;
//     justify-content: center;
//     align-items: center;
//     overflow: hidden;
//     transition: all 200ms ease;
//     right: 0;
//     direction: ltr;
//   }

//   .IconDiv {
//     display: flex;
//     flex-direction: row;
//     justify-content: center;
//     align-items: center;
//     flex-basis: 30px;
//     min-width: 30px;
//   }

//   .activeLabel {
//     transition: all 200ms ease;
//     box-sizing: border-box;
//     max-width: 0px;
//     overflow: hidden;
//     display: flex;
//     flex-direction: row;
//     flex-wrap: wrap;
//     justify-content: center;
//     align-items: center;
//     line-height: 12px;
//     font-size: 12px;
//     height: 30px;
//     font-weight: normal;
//     color: #000;
//     opacity: 0;
//   }
// }
