$controlButtonActiveColor: #ffd700;

.olButton {
  left: -20px;
  position: relative;
  height:30px;

  & + button {
    margin-top: 10px;
  }
  & + div {
    margin-top: 10px;
  }

  svg {
    height:18px;
  }
}

.controlButton {
  left: -20px;
  position: relative;
  height:30px;

  & + div {
    margin-top: 10px;
  }
}


.controlButton.styled.active {
  .controlButtonContent {
    background-color: $controlButtonActiveColor!important;
    max-width: 150px;
    justify-content: flex-end;
  }
  .activeLabel {
    max-width:150px;
    position: relative;
    padding: 2px 10px 2px;
  }
}

.controlButton.styled {
  .controlButtonContent {
    position:absolute;
    min-width:30px;
    max-width: 30px;
    height:30px;
    border-radius: 15px;
    width:max-content;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: all 300ms ease;
    right:-10px;
  }
  
  .IconDiv{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-basis: 30px;
    min-width: 30px;
  }

  .activeLabel {
    transition: all 300ms ease;
    box-sizing: border-box;
    max-width:0px;
    overflow: hidden;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    line-height: 12px;
  }
}





