$controlButtonActiveColor: #ffd700;

.controlButton {
  left: -20px;
  position: relative;
  height:30px;

  & + button, & + div {
    margin-top:13px;
  }
  &:last-of-type {
    margin-bottom: 13px;
  }
}

.controlButton.styled {
  &, &:hover, &:active {
    background-color: transparent!important;
  }

  &.active {
    .content {
        background-color: $controlButtonActiveColor!important;
        max-width: 200px;
        justify-content: flex-end;
    }
    .activeLabel {
      max-width:200px;
      padding: 2px 10px 2px;
      opacity:1;
    }
  }

  .content {
    position:absolute;
    top:0;
    min-width:30px;
    max-width: 30px;
    height:30px;
    border-radius: 15px;
    width:max-content;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: all 200ms ease;
    right:-10px;
  }

  .IconDiv{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-basis: 30px;
    min-width: 30px;
  }
  .activeLabel {
    transition: all 200ms ease;
    box-sizing: border-box;
    max-width:0px;
    overflow: hidden;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    line-height: 12px;
    font-size:12px;
    height:30px;
    font-weight: normal;
    color:#000;
    opacity:0;
  }
}

