

.olTooltip {
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  color: white;
  padding: 4px 8px;
  opacity: 0.7;
  white-space: nowrap;
  font-size: 12px;
}
.olTooltipMeasure {
  opacity: 1;
  font-weight: bold;
}
.olTooltipStatic {
  background-color: #ffcc33;
  color: black;
  border: 1px solid white;
}
.olTooltipMeasure:before,
.olTooltipStatic:before {
  border-top: 6px solid rgba(0, 0, 0, 0.5);
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  content: "";
  position: absolute;
  bottom: -6px;
  margin-left: -7px;
  left: 50%;
}
.olTooltipStatic:before {
  border-top-color: #ffcc33;
}

.olTooltipStaticMeasureCircle {
  background-color: #ffcc33;
  color: black;
  border: 1px solid white;
}

.olTooltipStaticMeasureCircle:before {
  border-top-color: #ffcc33;
}
