@import 'src/Theme/variables.scss';

@mixin hover($color) {
  &:hover {
    background-color: darken($color, 20%);
  }
}

.button {
  height: 30px;
  border: none;
  border-radius: 5px;
  transition: all 300ms ease-in-out;
  cursor: pointer;
}

.button.negative {
  background-color: $red;
  @include hover($red);
  color: #fff;
}

.button.positive {
  background-color: $green;
  @include hover($green);
  color: #000;
}

.modalContent {
  min-width: 250px;
  max-width: 300px;
  min-height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  overflow: visible;
}

.modalHeader {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.modalTitle {
  text-align: center;
  font-weight: bold;
  font-size: 1.1em;
}

.modalCloseButton {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: $red;
  padding: 0px;
  margin: 0px;
  border: none;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  svg {
    display: inline-block;
  }
  transition: all 300ms ease-in-out;
  cursor: pointer;
  &:hover {
    background-color: darken($red, 20%);
  }
}

.modalActionDiv {
  margin-top: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

// margin-top: auto;
// display: flex;
// flex-direction: row;
// justify-content: space-around;
// align-items: center;
// export const ModalHeader = styled.div`
//   width: 100%;
//   display: flex;
//   justify-content: center;
//   align-items: flex-start;
// `;
// export const ModalTitle = styled.h3`
//   text-align: center;
//   flex-basis: 85%;
// `;
// export const CloseButton = styled.button`
//   text-align: center;
//   background-color: #ff073a;
//   color: #fff;
//   width: 25px;
//   height: 25px;
//   border-radius: 50%;
//   border: none;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   transition: background-color 300ms ease;
//   margin-left: auto;
//   &:hover {
//     background-color: ${darken(0.1, '#ff073a')};
//   }
// `;
